<%- include('./partials/head.ejs') %>
<body class="left">
  <%- include('./partials/header.ejs') %>
    <section class="channels">
      <h2>Discover</h2>
      <input class="search" type="text" placeholder="Search Channels">
    </section>
    <section class="channel_list">
      <%- include('./partials/channel_item.ejs') %>
      <%- include('./partials/channel_item.ejs') %>
      <%- include('./partials/channel_item.ejs') %>
      <%- include('./partials/channel_item.ejs') %>
      <%- include('./partials/channel_item.ejs') %>
      <%- include('./partials/channel_item.ejs') %>
      <%- include('./partials/channel_item.ejs') %>
      <%- include('./partials/channel_item.ejs') %>
      <%- include('./partials/channel_item.ejs') %>
      <%- include('./partials/channel_item.ejs') %>
      <%- include('./partials/channel_item.ejs') %>
    </section>
</body>
</html>