<%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <section class="profile-section">
            <img class="profile-image" src="<%= profile.avatar %>" />

            <section class="profile-username">
                <h3><%= profile.username %></h3>
                
                <% if (profile.branch === 'airforce') { %>
                    <p class="branch air-force">Air Force
                        <% if (profile.verified_military) { %>
                            <span class="verified fa-stack fa-lg">
                                <i class="fa fa-certificate fa-stack-2x"></i>
                                <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                            </span> 
                        <% } %>
                    </p>
                <% } else if (profile.branch === 'navy') { %>
                    <p class="branch navy">Navy
                        <% if (profile.verified_military) { %>
                            <span class="verified fa-stack fa-lg">
                                <i class="fa fa-certificate fa-stack-2x"></i>
                                <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                            </span> 
                        <% } %>
                    </p>
                <% } else if (profile.branch === 'army') { %>
                    <p class="branch army">Army
                        <% if (profile.verified_military) { %>
                            <span class="verified fa-stack fa-lg">
                                <i class="fa fa-certificate fa-stack-2x"></i>
                                <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                            </span> 
                        <% } %>
                    </p>
                <% } else if (profile.branch === 'usmc') { %>
                    <p class="branch usmc">USMC
                        <% if (profile.verified_military) { %>
                            <span class="verified fa-stack fa-lg">
                                <i class="fa fa-certificate fa-stack-2x"></i>
                                <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                            </span> 
                        <% } %>
                    </p>
                <% } else if (profile.branch === 'patriot') { %>
                    <p class="branch patriot">Patriot</p>
                <% } %>
            </section>            
            
           <section id="profile-about">
               <p class="about"><%= user.profile.about %></p>
           </section>

            <% if (profile._id.toString() === user.profile._id.toString()) { %>
                <button onclick="window.location.href='/profile/edit'" class="medium">Edit Profile</button>
            <% } else {%>
                <button class="medium">Add Friend</button>
            <% } %>

        </section>
    </body>
</html>